name: oravox-player

include:
  - ./networks.yml
  - ./volumes.yml
  - ./cloner.yml
  - ./builder.yml
  - ./copier.yml

services:
  mariadb:
    image: docker.io/bitnami/mariadb:latest
    restart: always
    volumes:
      - "mariadb_data:/bitnami/mariadb"
    healthcheck:
      test: ["CMD", "/opt/bitnami/scripts/mariadb/healthcheck.sh"]
      interval: 15s
      timeout: 5s
      retries: 6
    environment:
      MARIADB_USER: $MARIADB_USER
      MARIADB_PASSWORD: $MARIADB_PASSWORD
      MARIADB_ROOT_PASSWORD: $MARIADB_ROOT_PASSWORD
      MARIADB_DATABASE: $MARIADB_DATABASE
      MARIADB_PORT_NUMBER: $MARIADB_PORT_NUMBER
      MARIADB_EXTRA_FLAGS: --event-scheduler=ON
    networks:
      - oravox_player_network

  phpfpm:
    image: docker.io/bitnami/php-fpm:latest
    env_file: .env
    restart: always
    depends_on:
      builder:
        condition: service_completed_successfully
      copier:
        condition: service_completed_successfully
      mariadb:
        condition: service_healthy
    environment:
      PHP_POST_MAX_SIZE: $PHP_POST_MAX_SIZE
      PHP_UPLOAD_MAX_FILESIZE: $PHP_UPLOAD_MAX_FILESIZE
      PHP_MAX_EXECUTION_TIME: $PHP_MAX_EXECUTION_TIME
    networks:
      - oravox_player_network
    volumes:
      - web:/var/www/html
      - web_db:/var/www/html/db
      - web_stories:/var/www/html/assets/stories
      - ./php/session.ini:/opt/bitnami/php/etc/conf.d/90-session.ini:ro
      - ./.env-app:/var/www/html/.env:ro

  webserver:
    image: docker.io/nginx:alpine
    restart: always
    ports:
      - "${HOST_PORT:-38080}:80"
    depends_on:
      phpfpm:
        condition: service_started
    networks:
      - oravox_player_network
    volumes:
      - web:/var/www/html
      - web_db:/var/www/html/db
      - web_stories:/var/www/html/assets/stories
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
